@model bloodyvalentinee.Models.Data.HistoriaClinica

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>HistoriaClinica</h4>
<hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdHcu" />
    <div class="form-row align-items-center">


        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs pull-right" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Crear medico</a>
                    </li>

                </ul>
            </div>
            <div class="card-body">
                <div id="divNombreDimension_1" class="col-md-12 alert alert-warning" role="alert" style="text-align:center;background-color: #a3dff0;color: #FFFFFF;border-color:#FFFFFF">
                    <b>Medico</b>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IdUsuario" class="control-label">Usuario</label>
                            <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario" required></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IdMedico" class="control-label">Id medico</label>
                            <input asp-for="IdMedico" class="form-control" name="IdMedico" id="IdMedico" minlength="3" required />
                            <span asp-validation-for="IdMedico" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IdIgeneral" class="control-label">Informacion general</label>
                            <select asp-for="IdIgeneral" class="form-control" asp-items="ViewBag.IdIgeneral" required></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="IdEh" class="control-label">Enfermedad hereditaria</label>
                            <select asp-for="IdEh" class="form-control" asp-items="ViewBag.IdEh" required></select>
                        </div>
                    </div>




                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="d-inline">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div class="d-inline">
                    <a asp-action="Index" class="btn btn-danger" role="button">Volver atrás</a>
                </div>
            </div>
        </div>
    </div>
        </form>
    <

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
