@model bloodyvalentinee.Models.Data.Usuario
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crea un nuevo usuario</h1>

<hr />

<form asp-action="Create">
 <div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="form-row align-items-center">


    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs pull-right" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Registrar usuario</a>
                </li>

            </ul>
        </div>
        <div class="card-body">
            <div id="divNombreDimension_1" class="col-md-12 alert alert-warning" role="alert" style="text-align:center;background-color: #a3dff0;color: #FFFFFF;border-color:#FFFFFF">
                <b>Información general</b>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="usuarioIdentificacion" class="control-label">Numero de identificacion</label>
                        <input asp-for="usuarioIdentificacion" class="form-control" name="usuarioIdentificacion" id="usuarioIdentificacion" minlength="3" required="" />
                        <span asp-validation-for="usuarioIdentificacion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label">Nombre</label>
                        <input asp-for="Nombre" class="form-control" name="Nombre" id="Nombre" minlength="3" required="" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Apellido" class="control-label">Apellido</label>
                        <input asp-for="Apellido" class="form-control" name="Apellido" id="Apellido" minlength="3" required="" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FechaNac" class="control-label">Fecha de Nacimiento</label>
                        <input asp-for="FechaNac" class="form-control" name="FechaNac" id="FechaNac" minlength="3" required="" />
                        <span asp-validation-for="FechaNac" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label">Direccion</label>
                        <input asp-for="Direccion" class="form-control" name="Direccion" id="Direccion" minlength="3" required="" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Ocupacion" class="control-label">Ocupación</label>
                        <select asp-for="Ocupacion" class="form-control" name="Ocupacion" id="Ocupacion" required="">
                            <option value="">Seleccione una ocupación</option>
                            <option value="Trabajador">Trabajador</option>
                            <option value="Estudiante">Estudiante</option>
                            <option value="Estudiante y trabajador">Estudiante y trabajador</option>
                        </select>
                        <span asp-validation-for="Ocupacion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="EstadoCivil" class="control-label">Estado Civil</label>
                        <select asp-for="EstadoCivil" class="form-control" name="EstadoCivil" id="EstadoCivil" required="">
                            <option value="">Seleccione un estado civil</option> <!-- Opción por defecto -->
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Divorciado">Divorciado</option>
                            <option value="Viudo">Viudo</option>
                        </select>
                        <span asp-validation-for="EstadoCivil" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Religion" class="control-label">Religión</label>
                        <select asp-for="Religion" class="form-control" name="Religion" id="Religion" required="">
                            <option value="">Seleccione una religión</option> <!-- Opción por defecto -->
                            <option value="Cristianismo">Cristianismo</option>
                            <option value="Islam">Islam</option>
                            <option value="Judaísmo">Judaísmo</option>
                            <option value="Hinduismo">Hinduismo</option>
                        </select>
                        <span asp-validation-for="Religion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label">Telefono</label>
                        <input asp-for="Telefono" class="form-control" name="Telefono" id="Telefono" required="" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="EPSIdEps" class="control-label">EPS</label>
                        <select asp-for="EPSIdEps" class="form-control" asp-items="ViewBag.EPSIdEps" required=""></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" name="Email" id="Email" required="" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Contraseña" class="control-label">Contraseña</label>
                        <input asp-for="Contraseña" class="form-control" name="Contraseña" id="Contraseña" required="" />
                        <span asp-validation-for="Contraseña" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="RolId" class="control-label">Rol de Usuario</label>
                        <select asp-for="RolId" class="form-control" asp-items="ViewBag.RolId" required></select>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer text-muted">
            <div class="d-inline">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="d-inline">
                <a asp-action="Index" class="btn btn-danger" role="button">Volver atrás</a>
            </div>
             @if (User.IsInRole("2")){ 
                    <div class="d-inline">
                        <a asp-controller="InsGenerals" asp-action="Create" class="btn btn-success" role="button">Crear informacion medica</a>
                    </div>
                
             
             }

        </div>
    </div>
</div>
</form>







@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
