@using Microsoft.AspNetCore.Identity


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Bienvenido, nos alegra verte de nuevo @User.Identity.Name  </h3>
    
</div>


